body {
    min-width: 250px;
}

div {
    display: flex;
    justify-content: center;
}

img {
    display: block;
    margin: auto;
}

h1{
    font-size: 20px;
    text-align: center;
}
h2{
    font-size: 18px;
    text-align: center;
}